<p><%= @user.nickname %>さんへのコメント</p>
<%if @item.item_comments.count > 0 %>
  <% @item.item_comments.each do |item_comment| %>
          <%= item_comment.user.nickname %>

          <%= item_comment.created_at.strftime('%Y/%m/%d') %>

            <%= item_comment.comment %>

	<% end %>
<% else %>
	<h4>コメントはまだありません</h4>
<% end %>