<%= render 'user/users/profile'%>

<div class = "item_index_main">
	<div class ="item_index">
		<%if @items.exists? %>
			<h3><%= @user.nickname %>さんがいいねしたアイテム</h3>
			<%= render partial: 'user/items/item_index2', locals: { items: @items} %>
		<% else %>
			<h3 class="nothing_message">まだいいねしたアイテムはありません</h3>
		<% end %>
	</div>
</div>