<div class = "item_index_main">
	<div class ="item_index">
		<%if @items.exists? %>
			<h1><%= @user.nickname %>さんがいいねしたアイテム</h1>
			<%= render partial: 'user/items/item_index', locals: { items: @items} %>
		<% else %>
			<h1>まだいいねしたアイテムはありません</h1>
		<% end %>
	</div>
</div>