<div class="sidebar">
    <ul>
        <% @categories.each do |category| %>
        <% if category.category_status == true %>
        <li><%= link_to category.category_name, items_path(category_id: category.id) %></li>
        <% end %>
        <% end %>
    </ul>
</div>


      
 