<div class = "item_index_main">
		<div class ="item_index">
			<%if @items.exists? %>
				<%= render partial: 'user/items/item_index', locals: { items: @items} %>
			<% else %>
				<h3 class="nothing_message">まだ<%= params[:search] %>に関する投稿はありません。</h3>
			<% end %>
		</div>
</div>