<!-- <div class="box1"><p class="center">ClothesOne</p></div>
<script src="jquery.min.js"></script>
<script src="app.js"></script>
 -->
<div class="top_main">
	<div class="top_main_wrap"><p class="top_main_text">ClothesOne</p>
	<p>登録して友達のお気に入りの服をチェックしましょう</p><br>
		<p><%= link_to new_user_session_path , class: "btn btn-primary" do %>ログイン<% end %>  もしくは  <%= link_to new_user_registration_path, class: "top_main_text_detail" do %><strong>メールアドレスで登録</strong><% end %></p></div>

</div>