<div class="main">
	<%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %><br>
	<%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %><br>

	<%= link_to "ユーザーサインイン", new_user_session_path %><br>
	<%= link_to "管理者サインイン", new_admin_session_path %><br>

</div>

