// Place all the styles related to the admin/brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_brand_index{
	margin:60px auto 0;
	width:400px;
}