// Place all the styles related to the admin/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_user_index{
	padding-top:60px;
	width:1150px;
	margin:0 auto;

}

.admin_user_table{
	table-layout: fixed;
	width: 100%;

}