<div class="about_text">

<span class="about_about">About </span><span class="about_clothesone">ClothesOne</span>
	<p><strong>ClothesOneとは？</strong></p>
	<P><strong>世界中の人々が良い服を共有し会えるSNSサイトです。</strong></P>
	<p>お気に入りの服を投稿して共有したりユーザー間でのFF（フォローフォロワー）機能、いいね、コメント機能があります。</p>
	<p>良い服を共有しあい、ユーザーの輪を広げましょう！</p>

	<p>また目的のアイテムを見つけるためにカテゴリーやブランドでソートできる機能や</p>
	<p>ワード検索機能があり、簡単な操作でお気に入りのアイテムを見つけることができます。</p>
	<p>そして位置情報を使って近隣のショップを検索できるようになっているので</p>
	<p>気にいったアイテムがあれば近くにショップがあるかすぐ確認できます！</p>
	<p class="about_attention">※登録をしなくても投稿の閲覧はできますが投稿自体をすることはできません。</p>

	<h1>それではさっそくはじめてみましょう！</h1>
	<%= link_to new_user_registration_path do %><p class= "btn_clothesone"> Let's Join!!</p> <% end %>

</div>
<div class="top_footer"><p>© 2020 ClothesOne</p></div>