
		<h4 class="text-center">本当に退会しますか？</h4><br>
		<p class="text-center">退会すると、投稿ができなくなります<br>
		退会する場合は、「退会する」をクリックしてください。</p>
		<div class="botan-box col-xs-4 col-xs-offset-4">
		<%= link_to '退会しない', user_path(@user), class: "btn botan col-xs-6" %>
		<%= link_to '退会する', withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn botan-customerdelete col-xs-6" %>
	</div>
</div>