<div class = "item_index_main">
    <%= render "user/users/user_sidebar" %>
    <div class="item_index">
        <%if @items.exists? %>
            <h1><%= @user.nickname %>さんの投稿</h1>
        <%= render partial: 'user/items/item_index', locals: { items: @items} %>
        <% else %>
            <h1>まだ<%= @user.nickname %>さんの投稿はありません。</h1>
        <% end %>
    </div>
</div>



