  	<% if user_signed_in? %>
  	<% if current_user != item.user %>
    <% if current_user.following?(item.user) %>
    	<div class="follow_delete_box">
    	<%= link_to user_relationships_path(item.user.id), method: :delete, remote: true, class: "delete_follow" do %>フォロー中<% end %></div>
    <% else %>
    	<div class="follow_create_box">
     	<%= link_to user_relationships_path(item.user.id), method: :POST, remote: true, class: "create_follow" do %>フォローする<% end %></div>
    <% end %>
  	<% end %>
  	<% end %>