  	<% if user_signed_in? %>
  	<% if current_user != @user %>
    <% if current_user.following?(@user) %>
    	<div class="user_follow_delete">
    	<%= link_to user_relationships_path(@user.id), method: :delete, remote: true, class: "btn follow_delete_btn" do %>フォロー中<% end %></div>
    <% else %>
    	<div class="user_follow_create">
     	<%= link_to user_relationships_path(@user.id), method: :POST, remote: true, class: "btn follow_create_btn" do %>フォローする<% end %></div>
    <% end %>
  	<% end %>
  	<% end %>