/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


html{
	height:100%;
}

body {
font-family: 'Quicksand', sans-serif;
	background-color:#FFFFFF;
	height:100%;
	margin:0;

}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*---ヘッダー---*/
.clothesone{
	float:left;
	font-size:25px;
	line-height:50px;
	color:white;
}


.navbar-left{
	width:55%;
	margin-left:10%;
}

#open_nav{
	float:right;
	margin-right:10%;
	margin-top:10px;
}

#open_nav:hover{
	opacity:0.5;
}
header{
	background-color:#00bfff;
	position:fixed;
	top:0;
  	width:100%;
  	height:50px;
  	z-index:1000;
  	box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}

.footer_fixed{
	min-height:100%;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
}

footer{
	background-color:blue;
	position: absolute;
	bottom:0;
	width:100%;
	height:100px;
	background-color:#00bfff;
	color:#FFFFFF;
	text-align:center;
	box-shadow: 0px -10px 10px -7px rgba(0,0,0,0.5);
}

.footer_top_txt{
	margin-top:20px;
}

.footer_mail_txt{
	color:#FFFFFF;
}

.btn-detail{
	color:black;
	font-size:12px;
}

.fa-circle{
	color:gold;
}


.search_submit_tag{
	width: 60px;
	height: 30px;
	line-height:25px;
	display:inline-block;
	vertical-align: middle;
	margin:10px 0 0 0;
}
.search_form_tag{
	width:180px;
	height:30px;
	display:inline-block;
	vertical-align: middle;
	margin:10px 0 0 10px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

#menu{
background-color:#00bfff;
width:270px;
height:100%;
position:fixed;
top:0;
right:-270px;
}

/*ドロワーが開かれた時のスタイル*/
.show{
	transform:translate3d(-270px,0,0);
}

#container{
	transition:transform 0.3s;
}