.signin_form{
	height:700px;
	width:100%;
	margin-top:60px;
}

.signin_form_detail{
　text-align:center;
　width:100%;
　height:700px;
　padding-top:150px;
　background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #83a4d4, #b6fbff);

}

.signin_form_detail h2{
	font-weight: 200;
}

.new_session_btn{
	margin:5px 0 5px;
	border:solid 1px #FFFFFF;
	width:180px;
	height:50px;
	border-radius:5px;
	text-align:center;
	font-size:20px;
	background-color: fade(white, 20%);
	font-weight: 200;
}

.new_submit_btn{
	margin:5px 0 5px;
	border:solid 1px #FFFFFF;
	width:180px;
	height:50px;
	border-radius:5px;
	text-align:center;
	font-size:20px;
	background-color:#FFFFFF;
	color:#83a4d4;
	font-weight: 200;
}