<div class="admin_user_index">
	<% @users.each do |user| %>
		<table class="table admin_user_table">
			<tr>
				<th>ユーザー名</th>
				<th>ステータス</th>
				<th></th>
			</tr>
			<tr>
				<td><%= user.nickname %></td>
				<% if user.user_status == true %>
					<td class = "status_btn_true">有効</td>
				<% else %>
					<td class = "status_btn_false">無効</td>
				<% end %>
				<td>
					<%= link_to "編集", edit_admin_user_path(user.id) %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
