// Place all the styles related to the user/brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand_index{
	width:65%;
	height:1080px;
	margin: 60px auto 0 ;
}

.brands_btn{
	font-size:25px;
	margin-right:5px;
	color:#000000;
	background-color: #ffefd5;
	background-size: 14px 14px;
	border-radius:10px;
}

.brand_index h1{
	text-align:center;
}

.brand_index_main{
	margin-top:60px;
}