// Place all the styles related to the user/brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand_index{
	width:65%;
	margin: 60px auto 0 ;

}

.brands_btn{
	font-size:25px;
	margin-right:5px;
	color:#000000;
	background-color: #00bfff;
	background-size: 14px 14px;
	border-radius:2px;
}

.brand_index h1{
	text-align:center;
}

.brand_index_main{
	width:80%;
	margin:0 auto ;
	margin-top:60px;
	margin-bottom:15px;
	border:1px solid #a9a9a9;
	border-radius:2px 2px 0 0 ;
	background-color:#FFFFFF;
}

.brand_name_text{
	color:#808080;
	margin-top:3px;
	margin-left:5px;
}

.brand_detail{
	height:100px;
	width:445px;
	margin-right:15px;
	margin-bottom:15px;
	border:#dcdcdc 1px solid;
	background-color:#FFFFFF;
	float:left;
}