// Place all the styles related to the user/brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.brand_container{
	padding-left:20px;
}
.brand_index{
	width:65%;
	margin: 60px auto 0 ;

}

.brands_btn{
	font-size:20px;
	background-size: 14px 14px;
}

.brand_headtext{
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

.brand_index_main{
	width:80%;
	margin:0 auto ;
	margin-top:60px;
	margin-bottom:15px;
	border:1px solid #a9a9a9;
	border-radius:2px 2px 0 0 ;
	background-color:#f5f5f5;
}

.brand_name_text{
	color:#808080;
	margin-top:3px;
	margin-left:5px;
	font-weight:bold;
}

.brand_detail{
	height:80px;
	width:445px;
	margin-right:15px;
	margin-bottom:15px;
	padding-left:10px;
	padding-top:10px;
	border:#dcdcdc 2px solid;
	background-color:#FFFFFF;
	float:left;
}

.brand_ranking{
	height:65px;
	width:30px;
	float:left;


}
.brand_ranking_number{
	display:inline;
}

.brand_items_count{
	margin-top:5px;
	font-weight:bold;
	font-size:18px;
}
