// Place all the styles related to the user/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.center{
	padding-top:-200px;
	text-align:center;
	line-height:780px;
	font-size:200px;
	color:#ADD8E6;
}

#gmap {
    width:100%;
  	height:500px;
   	margin-top:15px;
}


////*indexページ*////
.item_index_image{
	margin-right:15px;
	margin-top:15px;
}

.item_index_main{
	width:80%;
	margin:0 auto;
	margin-top:60px;
}




.flash_notice{
	margin-top:50px;
	width:100%;
	height:40px;
	background-color:#00ff7f;
	text-align:center;
	line-height:40px;
}

.item_mainbox{
	height:352px;
	width:252px;
	float:left;
	margin-right:44px;
	margin-bottom:40px;
	border:1px solid #c0c0c0;
	border-radius:2px;
}

.item_mainbox:nth-of-type(4n){
	margin-right:0;
	}

.item_user{
	width:250px;
	height:50px;
	background-color:#FFFFFF;
	line-height:50px;
}

.item_index_image{
	display:inline;
	height:50px;
	width:70px;
}

.item_index_nickname{
	display:inline;
	height:50px;
	width:90px;
}

.item_index_cusion{
	padding-top:30px;
}

.nickname_weight{
	display:inline;
	font-weight:600;
}

.item_user_image{
	position:relative;
	top:-5px;
	left:5px;
}

.item-genre-list{
	margin-top:30px;
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #c0c0c0;
	height:45px;
	width:100%;
	text-align:center;
}
.category_btn{
	color:gray;
	line-height:45px;
}
////*showページ*////


.item_show_container{
	width:70%;
	margin:15px auto 0;
}

.item_image{
	float:left;
}

.item_box{
	margin-top:100px;
	width:100%;
	float:left;
}

.btn_detail{
	color:black;
}

.favorite_heart{
	color:black;
}

.item_reaction_wrapper{
	height:708px;
	width:528px;
	float:left;
}
.item_reaction{
	height:624px;
	width:522px;
	border:1px solid #c0c0c0;
}

.reaction_favorite{
	height:80px;
	width:522px;
	border:1px solid #c0c0c0;
	background-color:#FFFFFF;
}

.favorite_btn_box{
	float:left;
	margin-left:60px;
	margin-top:20px;
	border:solid 1px #a9a9a9;
	border-radius:4px;
	height:35px;
	width:150px;
	background-color:#f5f5f5;
	text-align:center;
}

.comment_btn_box{
	float:right;
	margin-right:60px;
	margin-top:20px;
	border:solid 1px #a9a9a9;
	border-radius:4px;
	height:35px;
	width:150px;
	background-color:#f5f5f5;
	display:inline;
	text-align:center;
}

.item_comment_area{
	border:solid 1px #a9a9a9;
	border-radius:0 0 2px 2px;
	width:420px;
	height:auto;
	background-color:#FFFFFF;
	float:right;
	margin:20px 0 ;
	padding-bottom:8px;
	padding-left:20px;

}

.item_comment_area_into{
	height:auto;
	width:364px;
	padding-bottom:10px;
	background-color:#FFFFFF;
}

.item_comment_profile_image{
	float:left;
	margin-left:2px;

}

.item_comment_nickname_area{
	height:20px;
	width:454px;
	margin-left:50px;
	padding-bottom:5px;
}

.item_comment_nickname_area p{
	color:#808080;
}

.item_comment_content_area{
	height:auto;
	width:325px;
	background-color:#f5f5f5;
	margin-left:50px;
	border:1px solid #c0c0c0;
	border-radius:10px;
	pdding-top:5px;
}

.item_detail_area{
	width:420px;
	height:auto;
	float:right;
	background-color:#FFFFFF;
	border:1px solid #c0c0c0;
	border-radius:2px;
	padding-bottom:20px;
}

.item_name{
	font-weight:bold;
	font-size:20px;
	margin:20px 15px 0 25px ;
	padding-bottom:15px;
	display:inline;
	float:left;
}

.brand_name{
	color:#00bfff;
	font-weight:bold;
	font-size:12px;
	margin:0 0 0 25px ;
}
.item_introduction{
	margin-left:25px;
}

.category_name{
	margin:0 0 0 25px ;
	font-size:12px;
	font-weight:bold;
	color:#00bfff;
}

.item_create_time{
	font-size:10px;
	margin:10px 15px 0 25px ;
}
////*topページ*////

.google_login_btn:hover{
	opacity:0.5;
}

.top_main{
	margin-top:50px;
	text-align:center;
	background-color:#00bfff;
	color:#FFFFFF;
	padding:14.27% 0;
}

.top_main_text{
	color:#FFFFFF;
	font-size:80px;
}

.top_main_btn{
	color:#136FFF;
	border-radius:5px;
	color:#FFFFFF;
}

.top_main_text_detail{
	color:#136FFF;
}
.main{
	padding:60px;
	float:right;
}

////*差し込みフッター*////


////*newページ*////
.alert_detail{
	color:#FFFFFF;
	list-style:none;
	margin-right:20px;
}
.alert_warning{
	text-align:center;
	height:auto;
	width:400px;
	margin:0 auto;
	background-color:#ff0000;
	margin-top:5px;
}
.new_item_form{
	margin:0 auto;
	width:400px;
	background-color:#EEEEEE;
	border-radius:0 0 10px 10px;
	text-align:center;
}

.new_item_form{
	text-align:center;
}

.field_btn{
	padding-left:90px;
}

.new_item_form dl dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;
}

.new_item_form dl dd{
  padding:10px 0;
}

.new_item_text{
	height:50px;
	margin:100px auto 0 ;
	width:400px;
	background-color:#75A9FF;
	text-align:center;
	border-radius: 10px 10px 0 0 ;
}

.new_item_text h2{
	line-height:50px;
}

.flash_error{
	margin:50px auto 0;
	width:50%;
	height:40px;
	background-color:#DC143C;
	text-align:center;
	line-height:40px;
}

///*Editページ*///
.edit_item_form{
	margin:0 auto;
	width:400px;
	background-color:#EEEEEE;
	border-radius:0 0 10px 10px;
}

.edit_item_text{
	height:50px;
	margin:60px auto 0 ;
	width:400px;
	background-color:#66cdaa;
	text-align:center;
	border-radius: 10px 10px 0 0 ;
}

.edit_item_form{
	text-align:center;
}

.edit_item_form dl dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;
}

.edit_item_form dl dd{
  padding:10px 0;
}

.edit_item_text h2{
	line-height:50px;
}

.flash_message{
	text-align:center;
	color:#FFFFFF;
	background-color:#32cd32;
}

#menu span{
	font-size:30px;
	display:block;
	color:white;
}
#menu{
	padding-left:10px;
	border-left:2px solid white;
}

#menu p{
	font-size:50px;
	color:white;
}