// Place all the styles related to the user/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.center{
	padding-top:-200px;
	text-align:center;
	line-height:780px;
	font-size:200px;
	color:#ADD8E6;
}

#gmap {
    width:100%;
  	height:500px;
   	margin-top:100px;
}


////*indexページ*////
.item_index_image{
	margin-right:15px;
	margin-top:15px;
}

.item_index_main{
	width:80%;
	margin:0 auto;

}
.item_index{
	margin-top:60px;
}


.flash_notice{
	margin-top:50px;
	width:100%;
	height:40px;
	background-color:#00ff7f;
	text-align:center;
	line-height:40px;
}

.item_mainbox{
	height:352px;
	width:252px;
	float:left;
	margin-right:30px;
	margin-bottom:40px;
	border:1px solid #c0c0c0;
	border-radius:2px;
}


.item_user{
	width:250px;
	height:50px;
	background-color:#FFFFFF;
	line-height:50px;
}

.item_index_image{
	display:inline;
	height:50px;
	width:70px;
}

.item_index_nickname{
	display:inline;
	height:50px;
	width:90px;
}

.item_index_cusion{
	padding-top:30px;
}

.nickname_weight{
	display:inline;
	font-weight:600;
}

.item_user_image{
	margin-left:5px;
	line-height:50px;
}

////*showページ*////

.item_image{
	float:left;
}

.item_box{
	margin-top:100px;
	width:100%;
	float:left;
}

.btn_detail{
	color:black;
}

.favorite_heart{
	color:black;
}

.item_reaction{
	height:624px;
	width:524px;
	border:2px solid #c71585;
	margin-left:214px;
}

.reaction_favorite{
	height:80px;
	width:524px;
	border:2px solid #006400;
	margin-left:214px;
	background-color:#FFFFFF;
}

.favorite_btn_box{
	float:left;
	margin-left:60px;
	margin-top:20px;
	border:solid 1px #a9a9a9;
	border-radius:4px;
	height:35px;
	width:150px;
	background-color:#f5f5f5;
	text-align:center;
}

.comment_btn_box{
	float:right;
	margin-right:60px;
	margin-top:20px;
	border:solid 1px #a9a9a9;
	border-radius:4px;
	height:35px;
	width:150px;
	background-color:#f5f5f5;
	display:inline;
	text-align:center;
}

.item_comment_area{
	border:solid 1px #a9a9a9;
	border-radius:0 0 2px 2px;
	width:524px;
	height:auto;
	margin-left:214px;
	background-color:#FFFFFF;
}

.item_comment_area_into{
	height:auto;
	width:404px;
	padding-bottom:10px;
	background-color:#FFFFFF;
}

.item_comment_profile_image{
	float:left;

}

.item_comment_nickname_area{
	height:20px;
	width:454px;
	margin-left:50px;
	padding-bottom:5px;
}

.item_comment_nickname_area p{
	color:#808080;
}

.item_comment_content_area{
	height:auto;
	width:454px;
	background-color:#f5f5f5;
	margin-left:50px;
	border:1px solid #c0c0c0;
	border-radius:10px;
	pdding-top:5px;
}

.item_detail_area{
	width:420px;
	height:auto;
	float:right;
	background-color:#ff7f50;
	border:1px solid #c0c0c0;
	position:absolute;
	top:245px;
	right:215px;
}

.item_name{
	font-weight:bold;
	font-size:20px;
	margin:20px 15px 0 25px ;
	display:inline;
	float:left;
}

.brand_name{
	color:#4682b4;
	font-weight:bold;
	display:inline-block;
	margin:20px 15px 0 25px ;
}
.item_introduction{
	margin-left:25px;
}
////*topページ*////

.top_main{
	height:770px;
	width:100%;
	margin-top:50px;
	text-align:center;
	background: #83a4d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #83a4d4, #b6fbff);
	color:#FFFFFF;

}

.top_main_text{
	color:#FFFFFF;
	font-size:80px;
}

.top_main_btn{
	color:#136FFF;
	border-radius:5px;
	color:#FFFFFF;
}

.top_main_text_detail{
	color:#136FFF;
}
.main{
	padding:60px;
	float:right;
}

.top_main_wrap{
	padding-top:200px;
	}

.top_footer{
	background-color:#FFFFFF;
	height:60px;
	width:100%;
	position:fixed;
	bottom:0;
	text-align:center;

}

.top_footer p{
	padding-top:10px;
}

.inquiry_form{
	color:#000000;

}
////*差し込みフッター*////


////*newページ*////
.new_item_form{
	margin:0 auto;
	width:400px;
	background-color:#EEEEEE;
	border-radius:0 0 10px 10px;
}

.new_item_form{
	text-align:center;
}

.field_btn{
	padding-left:90px;
}

.new_item_form dl dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;
}

.new_item_form dl dd{
  padding:10px 0;
}

.new_item_text{
	height:50px;
	margin:100px auto 0 ;
	width:400px;
	background-color:#75A9FF;
	text-align:center;
	border-radius: 10px 10px 0 0 ;
}

.new_item_text h2{
	line-height:50px;
}

.flash_error{
	margin:50px auto 0;
	width:50%;
	height:40px;
	background-color:#DC143C;
	text-align:center;
	line-height:40px;
}

///*Editページ*///
.edit_item_form{
	margin:0 auto;
	width:400px;
	background-color:#EEEEEE;
	border-radius:0 0 10px 10px;
}

.edit_item_text{
	height:50px;
	margin:60px auto 0 ;
	width:400px;
	background-color:#66cdaa;
	text-align:center;
	border-radius: 10px 10px 0 0 ;
}

.edit_item_form{
	text-align:center;
}

.edit_item_form dl dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;
}

.edit_item_form dl dd{
  padding:10px 0;
}

.edit_item_text h2{
	line-height:50px;
}


////*サイドバー*////

.main_sidebar{
	width:300px;
	position:fixed;
	height:100%;
	top:0;
}
.sidebar{
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0px;
  background-color: #DDDDDD;
  margin-left:50px;
  width: 280px;
  font-size: 16px;
  text-align:center;
  height:100%;
  float:left;
  margin-left:-250px;
  }


.main_sidebar{
	text-align:center;
	width:230px;
	color:#FFFFFF;
	padding-top:50px;
	padding-left:60px;
}

.left_sidebar{
	z-index:1000;
	top:0px;
	width:30px;
	background-color:#000000;
	height:100%;
	padding-top:100px;
	float:left;
}


.right_sidebar{
	background-color: #DDDDDD;
	z-index:1000;
	top:0px;
	width:30px;
	height:100%;
	padding-top:100px;
	float:right;
	line-height:540px;
	border-radius:0 10px 10px 0;
}

.category_detail{
	color:#FFFFFF;
	display:block;
	padding-top:10px;
}
