// Place all the styles related to the user/ItemComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item_comment_nickname_weight{
	font-size:15px;
	font-weight:bold;
	margin:5px 0 5px 0;
}


.item_comment_btn{
	background-color:#a9a9a9;
	color:#FFFFFF;
	font-weight:bold;
	border:none;
	height:30px;
	width:385px;
	float:left;
	display:inline;
	margin-top:5px;
	border-radius:4px;

}

.item_comment_content{
	background-color:#f5f5f5;
	color:#a9a9a9;
	float:left;
	display:inline;
	margin-left:10px;
	border-radius:4px;
}

.comment_form_profile_image{
	float:left;
	margin-top:2px;
}

.validation_item_comment{
	height:auto;
	width:420px;
	background-color:#ff0000;
	color:#FFFFFF;
	border:1px solid #a9a9a9;
	float:right;
}

.validation_item_comment ul li{
	list-style:none;
}
