// Place all the styles related to the user/ItemComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item_comment_nickname_weight{
	font-size:15px;
	font-weight:bold;
	margin:5px 0 5px 0;
}