// Place all the styles related to the user/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
	margin-top:60px;
}





////*indexページ*////
.item_index_image{
	margin-right:15px;
	margin-top:15px;
	float:left;

}

.item_index_main{
	width:100%;

}
.item_index{
	width:100%;
	margin-top:80px;
	margin-left:170px ;
	z-index:100;

}

.item_index h5{
	display:block;
	float:left;
}

////*showページ*////

.item_detail{
	float:left;
	text-align:center;
}

.item_image{
	float:left;
}

.item_box{
	margin-top:100px;
	margin-left:370px;
	width:100%;
}

.btn_detail{
	color:black;
}

.item_comment_field{
	width:500px;
	margin:30px auto 0;
	text-align:center;
}

.favorite_heart{
	color:black;
}


////*topページ*////
.main{
	padding:60px;
	float:right;
}

////*差し込みフッター*////
footer{
	background-color:#4169e1;
	height:80px;
	width:100%;
	position:fixed;
	bottom:0;
}

////*newページ*////
.new_item_form{
	margin:60px auto 0 ;
	width:400px;
}

.new_item_form dl dt{
  width: 200px;
  padding:10px 0;
  float:left;
  clear:both;

}

.new_item_form dl dd{
  padding:10px 0;
}

////*サイドバー*////
.sidebar{
	padding:70px 0 70px 0 ;
    margin-left: -250px;
    height:550px;
    width:300px;
    background-color: #444;
    text-align:center;
    position:relative;
    z-index:999;
    float:left;
}

.sidebar:hover {
	margin-left:-50px;
	z-index:999;
}

ul > li{
    list-style:none;
    display:block;
    text-align: center;
}


.sidebar > ul > li > a{
	text-align: center;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    padding:10px 0 ;
}

ul > li:hover > a{
    background-color: #efefef;
}
