// Place all the styles related to the user/notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification_index{
	margin-top:70px;
}

.notification_detail{
	width:80%;
	margin:0 auto;
}
.notification-record{
	width:80%;
	height:50px;
	margin-bottom:5px;
	border-bottom:1px solid gray;
	line-height:50px;
}
.paginate_notification{
	text-align:center;
}