// Place all the styles related to the user/Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_index{
	width:65%;
	margin:60px auto 0;
}

.follow_name{
	font-size:20px;
}

.delete_follow{
	font-size:13px;
	color:#FFFFFF;
}

.create_follow{
	font-size:13px;
	color:#FFFFFF;
}

.follow_box{
	display:inline;
	height:50px;
	width:100px;
	float:right;
	background-color:#00ff7f;
	line-height:50px;
}

.follow_delete_box{
	background-color:#1e90ff;
	height:50px;
	width:100px;
}

.follow_create_box{
	background-color:#66cdaa;
	height:50px;
	width:100px;
}