// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///*show*///
.user_show_head{
	margin-top:80px;
	width:15%;
	height:500px;
	text-align:center;
	border:solid 1px;
	font-size:15px;
	float:left;

}

.user_show_index{
	width:80%;
	margin-top:60px;
	margin-left:30px;
	display:inline-block;
	float:left;
}

.unfollow_btn{
	color:red
}

.user_show_btn{
	display:block;
}

.user_show_all{
	width:100%;
}

.favorite_item_btn{
  color:#000000;
  background-color:#fff100;
  border-bottom: 5px solid #ccc100;
}




.user_sidebar{
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  top: 100px;
  left: -300px;
  background-color: #ADD8E6;
  width: 350px;
  color: #fff;
  font-size: 16px;
  text-align:center;
  height:600px;
  border-radius: 20px;
}

.img-circle{
  margin-top:10px;
  margin-bottom:10px;
}


.user_show_text{
  width:300px;
  margin:0 auto;
  border-radius:10px;
  background-color: #dedede;
  background-image:
  linear-gradient(#ecebeb 50%, transparent 50%, transparent);
  background-size: 10px 10px;
}

///*editページ*///

.user_edit_main{
  margin:60px auto 0;
  text-align:center;
  height:330px;
  width:300px;
  border-radius:0 0 10px 10px;
  background-color:#EEEEEE;
}

.user_edit_title{
  height:50px;
  width:300px;
  background-color:#66cdaa;
  border-radius:10px 10px 0 0 ;
  }

.user_edit_title h2{
  line-height:50px;
}
.user_edit_btn{
  margin:10px auto 0;
  text-align:center;
}

.delete_page_btn{
  color:red;
}

.new_session_btn{
  text-align:center;
}

///*Aboutページ*///
.about_text{
  text-align:center;
  font-size:15px;
  font-weight: 200;
  width:100%;
  margin:50px auto 0 ;
  height:770px;
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color:#FFFFFF;


}

.about_clothesone{
  font-size:50px;
}

.about_about{
  font-size:50px;
}



.about_text p {
  margin-bottom:20px;
}

.about_attention{
  font-size:10px;
}

.btn_clothesone{
  width:450px;
  height:80px;
  background-color:#83a4d4;
  border-radius:5px;
  margin:15px auto 0 ;
  color:#FFFFFF;
  font-size:40px;
  line-height:80px;
  border:1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.about_text h1{
  padding-top:40px;
}
.btn_clothesone:hover{
  background-color:#FFFFFF;
  color:#000000;
}

