// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///*showページ*///
.user_show_head{
	margin-top:80px;
	width:15%;
	height:500px;
	text-align:center;
	border:solid 1px;
	font-size:15px;
	float:left;
}

.user_show_index{
	width:80%;
	margin-top:60px;
	margin-left:30px;
	display:inline-block;
	float:left;
}

.unfollow_btn{
	color:red
}

.user_show_btn{
	display:block;
}

.favorite_item_btn{
  color:#000000;
  background-color:#fff100;
  border-bottom: 5px solid #ccc100;
}

.nothing_message{
  margin-top:150px;
  text-align:center;
}

.user_show_image{
  margin-left:20px;
}


.img-circle{
  margin-top:10px;
  margin-bottom:10px;
  float:left;
}


.user_show_text{
  width:300px;
  margin:0 auto;
  border-radius:10px;
  background-color: #dedede;
  background-image:
  linear-gradient(#ecebeb 50%, transparent 50%, transparent);
  background-size: 10px 10px;
}
.user_detail{
  width:80%;
  margin:0 auto;
  height:100px;
  background-color: #FFFFFF;
  border: 1px solid #dcdcdc;
  border-bottom:none;
}

.user_nickname{
  float:left;
  font-size:25px;
  font-weight:bold;
  padding-top:15px;
  padding-left:15px;
  position:absolute;
  top:75px;
  left:430px;
}

.follow_delete_btn{
  position:absolute;
  top:90px;
  left:320px;
  background-color:#1e90ff;
  color:#FFFFFF;
}

.follow_create_btn{
  position:absolute;
  top:90px;
  left:320px;
  background-color:#66cdaa;
  color:#FFFFFF;
}

.user_itemlist{
  width:80%;
  height:52px;
  margin:0 auto ;
  background-color:#FFFFFF;
  border: 1px solid #dcdcdc;
  border-left:none;
  border-right:none;

}

.user_itemlist_left{
  float:left;
  height:50px;
  width:100px;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  font-weight:bold;
  font-size:18px;
  text-align:center;
}

.user_itemlist_left p{
  font-size:10px;
  margin-top:3px;
}

.user_itemlist_right p{
  font-size:10px;
  margin-top:3px;
}

.user_itemlist_right{
  float:right;
  height:50px;
  width:100px;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", sans-serif;
  font-weight:bold;
  font-size:18px;
  text-align:center;
}

.user_itemlist_right:nth-of-type(2n){
  border-right:none;
  }

.user_itemlist_left:nth-of-type(2n){
  border-left:none;
  }

.user_editbtn{
  position:relative;
  top:30px;
  left:30px;
}

.user_detail_btn{
  color:#000000;
}

.user_show_sub{
  height:50px;
  width:250px;
  text-align:center;

}
.user_comment_icon{
  height:50px;
  width:125px;
  float:left;
  border-top:1px solid #dcdcdc;
  background-color:#FFFFFF;
  line-height:50px;
}

.user_favorite_icon{
  height:50px;
  width:125px;
  float:right;
  border-top:1px solid #dcdcdc;
  background-color:#FFFFFF;
  line-height:50px;
}

.item_comment_count{
  font-weight:600;
  display:inline;
  color:#000000;
}


///*editページ*///

.user_edit_main{
  margin:60px auto 0;
  text-align:center;
  height:330px;
  width:300px;
  border-radius:0 0 10px 10px;
  background-color:#EEEEEE;
}

.user_edit_title{
  height:50px;
  width:300px;
  background-color:#66cdaa;
  border-radius:10px 10px 0 0 ;
  }

.user_edit_title h2{
  line-height:50px;
}
.user_edit_btn{
  margin:10px auto 0;
  text-align:center;
}

.delete_page_btn{
  color:red;
}

.new_session_btn{
  text-align:center;
}

///*Aboutページ*///
.about_text{
  text-align:center;
  font-size:15px;
  width:100%;
  height:92.7vh;
  padding-top:70px;
  background-color:#00bfff;
  color:#FFFFFF;
}

.about_clothesone{
  font-size:50px;
}

.about_about{
  font-size:50px;
}

.about_text p {
  margin-bottom:20px;
}

.about_attention{
  font-size:10px;
}

.btn_clothesone{
  width:450px;
  height:80px;
  background-color:#87cefa;
  border-radius:2px;
  margin:15px auto 0 ;
  color:#FFFFFF;
  font-size:40px;
  line-height:80px;
  border:1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}


.about_text h1{
  padding-top:40px;
}
.btn_clothesone:hover{
  background-color:#FFFFFF;
  color:#000000;
}

