// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///*show*///
.user_show_head{
	margin-top:80px;
	width:15%;
	height:500px;
	text-align:center;
	border:solid 1px;
	font-size:15px;
	float:left;

}

.user_show_index{
	width:80%;
	margin-top:60px;
	margin-left:30px;
	display:inline-block;
	float:left;
}

.unfollow_btn{
	color:red
}

.user_show_btn{
	display:block;
}

.user_show_all{
	width:100%;
}

.favorite_item_btn{
  color:#000;
  background-color:#fff100;
  border-bottom: 5px solid #ccc100;
}

.favorite_item_btn:hover {
  margin-top: 3px;
  color:#000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

.user_sidebar{
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  top: 100px;
  left: -220px;
  background-color: #ADD8E6;
  width: 250px;
  color: #fff;
  font-size: 16px;
  text-align:center;
  height:450px;
  border-radius: 20px;
}

.img-circle{
  margin-top:10px;
  margin-bottom:10px;
}


.user_show_text{
  width:300px;
  margin:0 auto;
  border-radius:10px;
  background-color: #dedede;
  background-image:
  linear-gradient(#ecebeb 50%, transparent 50%, transparent);
  background-size: 10px 10px;
}

