<% if model.errors.any? %>
  <div id="error_explanation" class="validation_item_comment">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!-- item_commentでのバリデーションチェックで引っかかった時にこのパーシャルからエラーメッセージが出力されます。 -->